/* region common */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

a:hover,
a:focus {
  color: #404bbf;
}

button {
  font-family: inherit;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
}

button:hover,
button:focus {
  color: #404bbf;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/* endregion common */

/* region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin: 0;
}

.logo-detail {
  color: #2e2f42;
}

.menu-btn {
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
  }

  .nav-item {
    padding: 24px 0;
    display: block;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
}
/* endregion header */

/* region main */
.main-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/mob-bckg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}

. @media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tab-bckg-img.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/des-bckg-img.jpg);
  }
}
/* endregion main */

.hidden-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .hidden-content {
    display: flex;
  }
}
